<!DOCTYPE html>

<script  src="https://code.jquery.com/jquery-3.5.1.js"></script>
<head>


</head>
<body>

<div layout:fragment="content">

    <h2><div style="text-align: center">Woman Start Fits</div></h2>
    <h3><div style="text-align: center">기준선에 맞춰 선 후, 카메라를 통한 체형 촬영을 진행합니다.</div></h3>
    <div align="middle">
        <a href="http://127.0.0.1:5000/first"> </a>

            <iframe  name="fits1"  id="fits1" src="http://127.0.0.1:5001/first" title="stream" width="700px" height="700px" style="border:none; position:absolute;"></iframe>

    </div>
    <div>
       </div>
    <div id="wrapper">

        <input type="text" id="name">

            <input type="button" value="입력" onclick="hello();">


       <h3><div>분석이 끝난후
            화면에 나타난 숫자 두자리를 입력해주세요!</div></h3>


    </div>



</div>

<script>


        function hello(){
            let name = document.getElementById("name").value;

            location.href ="/third?to=w"+ name;
        }

</script>

</body>
</html>